infrastructure/cleanup.yml
AWSTemplateFormatVersion: "2010-09-09"

Description: >-
  Permanent EventBridge Scheduler cleanup mechanism for food-delivery preview
  stacks. CloudFormation deletes stack resources through a dedicated service
  role instead of using the Lambda execution role.

Resources:
  CloudFormationCleanupExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: food-delivery-cloudformation-cleanup-role
      Description: CloudFormation service role for deleting temporary food-delivery stacks
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: CloudFormationAssumeRole
            Effect: Allow
            Principal:
              Service:
                - cloudformation.amazonaws.com
            Action:
              - sts:AssumeRole
      Policies:
        - PolicyName: DeleteTemporaryFoodDeliveryResources
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: DeleteEcsResources
                Effect: Allow
                Action:
                  - ecs:DescribeClusters
                  - ecs:DescribeTaskDefinition
                  - ecs:DeleteCluster
                  - ecs:DeregisterTaskDefinition
                  - ecs:ListServices
                  - ecs:DescribeServices
                  - ecs:PutClusterCapacityProviders
                  - ecs:UpdateService
                  - ecs:DeleteService
                  - ecs:ListTasks
                  - ecs:DescribeTasks
                  - ecs:StopTask
                  - ecs:ListTagsForResource
                  - ecs:TagResource
                  - ecs:UntagResource
                Resource: "*"

              - Sid: DeleteLoadBalancingResources
                Effect: Allow
                Action:
                  - elasticloadbalancing:DescribeLoadBalancers
                  - elasticloadbalancing:DescribeLoadBalancerAttributes
                  - elasticloadbalancing:DeleteLoadBalancer
                  - elasticloadbalancing:DescribeListeners
                  - elasticloadbalancing:DeleteListener
                  - elasticloadbalancing:DescribeRules
                  - elasticloadbalancing:DeleteRule
                  - elasticloadbalancing:DescribeTargetGroups
                  - elasticloadbalancing:DescribeTargetGroupAttributes
                  - elasticloadbalancing:DescribeTargetHealth
                  - elasticloadbalancing:DeregisterTargets
                  - elasticloadbalancing:DeleteTargetGroup
                  - elasticloadbalancing:DescribeTags
                  - elasticloadbalancing:RemoveTags
                Resource: "*"

              - Sid: DeleteSecurityGroups
                Effect: Allow
                Action:
                  - ec2:DescribeSecurityGroups
                  - ec2:DescribeSecurityGroupRules
                  - ec2:DescribeNetworkInterfaces
                  - ec2:DescribeVpcs
                  - ec2:RevokeSecurityGroupIngress
                  - ec2:RevokeSecurityGroupEgress
                  - ec2:DeleteSecurityGroup
                  - ec2:DeleteTags
                Resource: "*"

              - Sid: DeleteApiGatewayRoutesAndIntegration
                Effect: Allow
                Action:
                  - apigateway:GET
                  - apigateway:DELETE
                Resource: "*"

              - Sid: DeleteSchedulerSchedule
                Effect: Allow
                Action:
                  - scheduler:GetSchedule
                  - scheduler:DeleteSchedule
                  - scheduler:UntagResource
                Resource: "*"

              - Sid: DeleteRuntimeLogGroups
                Effect: Allow
                Action:
                  - logs:DescribeLogGroups
                  - logs:DeleteLogGroup
                  - logs:ListTagsForResource
                  - logs:UntagResource
                Resource: "*"

              - Sid: DeleteRuntimeIamRoles
                Effect: Allow
                Action:
                  - iam:GetRole
                  - iam:DeleteRole
                  - iam:ListRolePolicies
                  - iam:GetRolePolicy
                  - iam:DeleteRolePolicy
                  - iam:ListAttachedRolePolicies
                  - iam:DetachRolePolicy
                  - iam:ListInstanceProfilesForRole
                  - iam:RemoveRoleFromInstanceProfile
                  - iam:ListRoleTags
                  - iam:UntagRole
                Resource: "*"

  CleanupFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: food-delivery-cleanup-lambda-role
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: LambdaAssumeRole
            Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: ManagePreviewStacks
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: DescribeAndDeleteExpectedStacks
                Effect: Allow
                Action:
                  - cloudformation:DescribeStacks
                  - cloudformation:DescribeStackEvents
                  - cloudformation:DeleteStack
                Resource:
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/delivery-service-runtime/*"
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/restaurant-service-runtime/*"
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:stack/food-delivery-preview-platform/*"

              - Sid: PassCloudFormationCleanupRole
                Effect: Allow
                Action:
                  - iam:PassRole
                Resource: !GetAtt CloudFormationCleanupExecutionRole.Arn
                Condition:
                  StringEquals:
                    iam:PassedToService: cloudformation.amazonaws.com

  CleanupFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: food-delivery-preview-stack-cleanup
      Description: Starts and checks deletion of approved CloudFormation stacks
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt CleanupFunctionRole.Arn
      Timeout: 30
      MemorySize: 128
      Environment:
        Variables:
          CLOUDFORMATION_ROLE_ARN: !GetAtt CloudFormationCleanupExecutionRole.Arn
      Code:
        ZipFile: |
          import os

          import boto3
          from botocore.exceptions import ClientError


          cloudformation = boto3.client("cloudformation")
          cloudformation_role_arn = os.environ["CLOUDFORMATION_ROLE_ARN"]

          allowed_stacks = {
              "delivery-service-runtime",
              "restaurant-service-runtime",
              "food-delivery-preview-platform",
          }


          def find_stack(stack_name):
              try:
                  response = cloudformation.describe_stacks(StackName=stack_name)
                  return response["Stacks"][0]
              except ClientError as exc:
                  error = exc.response.get("Error", {})
                  code = error.get("Code", "")
                  message = error.get("Message", "")

                  if code == "ValidationError" and "does not exist" in message:
                      return None

                  raise


          def get_failure_reason(stack_name):
              try:
                  response = cloudformation.describe_stack_events(
                      StackName=stack_name
                  )
              except ClientError:
                  return "Stack deletion failed. Check CloudFormation stack events for details."

              fallback_reason = None

              for event in response.get("StackEvents", []):
                  status = event.get("ResourceStatus")
                  reason = event.get("ResourceStatusReason")

                  if not status or not status.endswith("_FAILED") or not reason:
                      continue

                  logical_id = event.get("LogicalResourceId", "unknown resource")
                  resource_type = event.get("ResourceType", "unknown type")
                  formatted_reason = f"{logical_id} ({resource_type}): {reason}"

                  if resource_type != "AWS::CloudFormation::Stack":
                      return formatted_reason

                  if fallback_reason is None:
                      fallback_reason = formatted_reason

              return fallback_reason or "Stack deletion failed. No failed resource event was found."


          def start_deletion(stack_name):
              # Passing RoleARN is critical. CloudFormation, not the Lambda role,
              # uses this role to call ECS, ELB, EC2, API Gateway, and Scheduler.
              cloudformation.delete_stack(
                  StackName=stack_name,
                  RoleARN=cloudformation_role_arn,
              )


          def handler(event, context):
              action = event.get("action")
              stack_name = event.get("stackName")

              if stack_name not in allowed_stacks:
                  raise ValueError(
                      f"Refusing to manage unexpected stack: {stack_name}"
                  )

              stack = find_stack(stack_name)

              if stack is None:
                  return {
                      "status": "DELETED",
                      "stackName": stack_name,
                      "failureReason": "",
                  }

              status = stack["StackStatus"]

              if status == "DELETE_COMPLETE":
                  return {
                      "status": "DELETED",
                      "stackName": stack_name,
                      "failureReason": "",
                  }

              result = {
                  "status": status,
                  "stackName": stack_name,
                  "failureReason": "",
              }

              if status == "DELETE_FAILED":
                  result["failureReason"] = get_failure_reason(stack_name)

              if action == "delete":
                  if status != "DELETE_IN_PROGRESS":
                      start_deletion(stack_name)

                  return {
                      "status": "DELETE_IN_PROGRESS",
                      "previousStatus": status,
                      "stackName": stack_name,
                      "failureReason": "",
                  }

              if action == "status":
                  return result

              raise ValueError(f"Unknown action: {action}")

  CleanupStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: food-delivery-cleanup-step-functions-role
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: StepFunctionsAssumeRole
            Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action:
              - sts:AssumeRole
      Policies:
        - PolicyName: InvokeCleanupLambda
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt CleanupFunction.Arn

  CleanupStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: food-delivery-preview-cleanup
      StateMachineType: STANDARD
      RoleArn: !GetAtt CleanupStateMachineRole.Arn
      DefinitionString:
        Fn::Sub:
          - |
            {
              "Comment": "Delete service runtime stacks and then the temporary shared platform",
              "StartAt": "DeleteDeliveryRuntime",
              "States": {
                "DeleteDeliveryRuntime": {
                  "Type": "Task",
                  "Resource": "arn:${Partition}:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${CleanupFunctionArn}",
                    "Payload": {
                      "action": "delete",
                      "stackName": "delivery-service-runtime"
                    }
                  },
                  "ResultSelector": {
                    "status.$": "$.Payload.status",
                    "failureReason.$": "$.Payload.failureReason"
                  },
                  "ResultPath": "$.delivery",
                  "Next": "DeliveryRuntimeStatus"
                },
                "WaitDeliveryRuntime": {
                  "Type": "Wait",
                  "Seconds": 20,
                  "Next": "CheckDeliveryRuntime"
                },
                "CheckDeliveryRuntime": {
                  "Type": "Task",
                  "Resource": "arn:${Partition}:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${CleanupFunctionArn}",
                    "Payload": {
                      "action": "status",
                      "stackName": "delivery-service-runtime"
                    }
                  },
                  "ResultSelector": {
                    "status.$": "$.Payload.status",
                    "failureReason.$": "$.Payload.failureReason"
                  },
                  "ResultPath": "$.delivery",
                  "Next": "DeliveryRuntimeStatus"
                },
                "DeliveryRuntimeStatus": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.delivery.status",
                      "StringEquals": "DELETED",
                      "Next": "DeleteRestaurantRuntime"
                    },
                    {
                      "Variable": "$.delivery.status",
                      "StringEquals": "DELETE_FAILED",
                      "Next": "DeliveryRuntimeDeletionFailed"
                    }
                  ],
                  "Default": "WaitDeliveryRuntime"
                },
                "DeliveryRuntimeDeletionFailed": {
                  "Type": "Fail",
                  "Error": "DeliveryRuntimeDeletionFailed",
                  "CausePath": "$.delivery.failureReason"
                },

                "DeleteRestaurantRuntime": {
                  "Type": "Task",
                  "Resource": "arn:${Partition}:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${CleanupFunctionArn}",
                    "Payload": {
                      "action": "delete",
                      "stackName": "restaurant-service-runtime"
                    }
                  },
                  "ResultSelector": {
                    "status.$": "$.Payload.status",
                    "failureReason.$": "$.Payload.failureReason"
                  },
                  "ResultPath": "$.restaurant",
                  "Next": "RestaurantRuntimeStatus"
                },
                "WaitRestaurantRuntime": {
                  "Type": "Wait",
                  "Seconds": 20,
                  "Next": "CheckRestaurantRuntime"
                },
                "CheckRestaurantRuntime": {
                  "Type": "Task",
                  "Resource": "arn:${Partition}:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${CleanupFunctionArn}",
                    "Payload": {
                      "action": "status",
                      "stackName": "restaurant-service-runtime"
                    }
                  },
                  "ResultSelector": {
                    "status.$": "$.Payload.status",
                    "failureReason.$": "$.Payload.failureReason"
                  },
                  "ResultPath": "$.restaurant",
                  "Next": "RestaurantRuntimeStatus"
                },
                "RestaurantRuntimeStatus": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.restaurant.status",
                      "StringEquals": "DELETED",
                      "Next": "DeletePreviewPlatform"
                    },
                    {
                      "Variable": "$.restaurant.status",
                      "StringEquals": "DELETE_FAILED",
                      "Next": "RestaurantRuntimeDeletionFailed"
                    }
                  ],
                  "Default": "WaitRestaurantRuntime"
                },
                "RestaurantRuntimeDeletionFailed": {
                  "Type": "Fail",
                  "Error": "RestaurantRuntimeDeletionFailed",
                  "CausePath": "$.restaurant.failureReason"
                },

                "DeletePreviewPlatform": {
                  "Type": "Task",
                  "Resource": "arn:${Partition}:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${CleanupFunctionArn}",
                    "Payload": {
                      "action": "delete",
                      "stackName": "food-delivery-preview-platform"
                    }
                  },
                  "ResultSelector": {
                    "status.$": "$.Payload.status",
                    "failureReason.$": "$.Payload.failureReason"
                  },
                  "ResultPath": "$.platform",
                  "Next": "PreviewPlatformStatus"
                },
                "WaitPreviewPlatform": {
                  "Type": "Wait",
                  "Seconds": 20,
                  "Next": "CheckPreviewPlatform"
                },
                "CheckPreviewPlatform": {
                  "Type": "Task",
                  "Resource": "arn:${Partition}:states:::lambda:invoke",
                  "Parameters": {
                    "FunctionName": "${CleanupFunctionArn}",
                    "Payload": {
                      "action": "status",
                      "stackName": "food-delivery-preview-platform"
                    }
                  },
                  "ResultSelector": {
                    "status.$": "$.Payload.status",
                    "failureReason.$": "$.Payload.failureReason"
                  },
                  "ResultPath": "$.platform",
                  "Next": "PreviewPlatformStatus"
                },
                "PreviewPlatformStatus": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.platform.status",
                      "StringEquals": "DELETED",
                      "Next": "CleanupComplete"
                    },
                    {
                      "Variable": "$.platform.status",
                      "StringEquals": "DELETE_FAILED",
                      "Next": "PreviewPlatformDeletionFailed"
                    }
                  ],
                  "Default": "WaitPreviewPlatform"
                },
                "PreviewPlatformDeletionFailed": {
                  "Type": "Fail",
                  "Error": "PreviewPlatformDeletionFailed",
                  "CausePath": "$.platform.failureReason"
                },
                "CleanupComplete": {
                  "Type": "Succeed"
                }
              }
            }
          - Partition: !Ref AWS::Partition
            CleanupFunctionArn: !GetAtt CleanupFunction.Arn

  SchedulerExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: food-delivery-cleanup-scheduler-role
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: SchedulerAssumeRole
            Effect: Allow
            Principal:
              Service:
                - scheduler.amazonaws.com
            Action:
              - sts:AssumeRole
      Policies:
        - PolicyName: StartCleanupStateMachine
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Ref CleanupStateMachine

Outputs:
  CleanupStateMachineArn:
    Value: !Ref CleanupStateMachine
    Export:
      Name: food-delivery-cleanup-state-machine-arn

  SchedulerExecutionRoleArn:
    Value: !GetAtt SchedulerExecutionRole.Arn
    Export:
      Name: food-delivery-cleanup-scheduler-role-arn

  CloudFormationExecutionRoleArn:
    Description: Service role used by CloudFormation while deleting temporary stacks
    Value: !GetAtt CloudFormationCleanupExecutionRole.Arn
    Export:
      Name: food-delivery-cloudformation-cleanup-role-arn
