infrastructure/order-service-payments.yml
AWSTemplateFormatVersion: "2010-09-09"
Description: Permanent order-service payment infrastructure.

Parameters:
  OrderEventBusName:
    Type: String
    Default: food-delivery-orders

  StepFunctionsRoleName:
    Type: String
    Default: sfn-order-service-role

  LambdaRoleName:
    Type: String
    Default: lambda-order-service-role

  CreateOrderServiceIamRoles:
    Type: String
    Default: "true"
    AllowedValues:
      - "true"
      - "false"

  PaymentStateMachineName:
    Type: String
    Default: payment-confirmation-sm

  PaypalWebhookFunctionName:
    Type: String
    Default: paypal_webhook

  PaypalWebhookPath:
    Type: String
    Default: /api/payments/paypal/webhook

  EnablePaypalWebhookRoute:
    Type: String
    Default: "false"
    AllowedValues:
      - "true"
      - "false"

Conditions:
  CreatePaypalWebhookRoute: !Equals [!Ref EnablePaypalWebhookRoute, "true"]
  CreateOrderServiceRoles: !Equals [!Ref CreateOrderServiceIamRoles, "true"]

Resources:
  OrderEventsBus:
    Type: AWS::Events::EventBus
    Properties:
      Name: !Ref OrderEventBusName
      Tags:
        - Key: Project
          Value: food-delivery
        - Key: Service
          Value: order-service
        - Key: Lifetime
          Value: permanent

  StepFunctionsOrderServiceRole:
    Type: AWS::IAM::Role
    Condition: CreateOrderServiceRoles
    Properties:
      RoleName: !Ref StepFunctionsRoleName
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - states.amazonaws.com
            Action:
              - sts:AssumeRole
      Tags:
        - Key: Project
          Value: food-delivery
        - Key: Service
          Value: order-service
        - Key: Lifetime
          Value: permanent

  LambdaOrderServiceRole:
    Type: AWS::IAM::Role
    Condition: CreateOrderServiceRoles
    Properties:
      RoleName: !Ref LambdaRoleName
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - !Sub arn:${AWS::Partition}:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Tags:
        - Key: Project
          Value: food-delivery
        - Key: Service
          Value: order-service
        - Key: Lifetime
          Value: permanent

  StepFunctionsInvokePaymentLambdasPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: order-service-payment-lambda-invoke
      Roles:
        - !If
          - CreateOrderServiceRoles
          - !Ref StepFunctionsOrderServiceRole
          - !Ref StepFunctionsRoleName
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - lambda:InvokeFunction
            Resource:
              - !Sub arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:verify_payment
              - !Sub arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:mark_payment_result
              - !Sub arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:publish_order_event

  PaymentStateMachine:
    Type: AWS::StepFunctions::StateMachine
    DependsOn:
      - StepFunctionsInvokePaymentLambdasPolicy
    Properties:
      StateMachineName: !Ref PaymentStateMachineName
      StateMachineType: STANDARD
      RoleArn: !If
        - CreateOrderServiceRoles
        - !GetAtt StepFunctionsOrderServiceRole.Arn
        - !Sub arn:${AWS::Partition}:iam::${AWS::AccountId}:role/${StepFunctionsRoleName}
      DefinitionString: !Sub
        - |
          {
            "Comment": "Confirm order payment and publish the resulting order event.",
            "StartAt": "VerifyPayment",
            "States": {
              "VerifyPayment": {
                "Type": "Task",
                "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${VerifyPaymentFunctionArn}",
                  "Payload.$": "$"
                },
                "ResultPath": "$.verifyPayment",
                "Next": "MarkPaymentResult"
              },
              "MarkPaymentResult": {
                "Type": "Task",
                "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${MarkPaymentResultFunctionArn}",
                  "Payload.$": "$"
                },
                "ResultPath": "$.markPaymentResult",
                "Next": "PublishOrderEvent"
              },
              "PublishOrderEvent": {
                "Type": "Task",
                "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${PublishOrderEventFunctionArn}",
                  "Payload.$": "$"
                },
                "End": true
              }
            }
          }
        - VerifyPaymentFunctionArn: !Sub arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:verify_payment
          MarkPaymentResultFunctionArn: !Sub arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:mark_payment_result
          PublishOrderEventFunctionArn: !Sub arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:publish_order_event
      Tags:
        - Key: Project
          Value: food-delivery
        - Key: Service
          Value: order-service
        - Key: Lifetime
          Value: permanent

  LambdaOrderServicePaymentsPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: order-service-payments
      Roles:
        - !If
          - CreateOrderServiceRoles
          - !Ref LambdaOrderServiceRole
          - !Ref LambdaRoleName
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - events:PutEvents
            Resource: !GetAtt OrderEventsBus.Arn
          - Effect: Allow
            Action:
              - states:StartExecution
            Resource: !Sub arn:${AWS::Partition}:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${PaymentStateMachineName}

  PaypalWebhookIntegration:
    Type: AWS::ApiGatewayV2::Integration
    Condition: CreatePaypalWebhookRoute
    Properties:
      ApiId:
        Fn::ImportValue: food-delivery-http-api-id
      IntegrationType: AWS_PROXY
      IntegrationUri: !Sub arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:${PaypalWebhookFunctionName}
      PayloadFormatVersion: "2.0"

  PaypalWebhookRoute:
    Type: AWS::ApiGatewayV2::Route
    Condition: CreatePaypalWebhookRoute
    Properties:
      ApiId:
        Fn::ImportValue: food-delivery-http-api-id
      RouteKey: !Sub POST ${PaypalWebhookPath}
      AuthorizationType: NONE
      Target: !Sub integrations/${PaypalWebhookIntegration}

  PaypalWebhookPermission:
    Type: AWS::Lambda::Permission
    Condition: CreatePaypalWebhookRoute
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref PaypalWebhookFunctionName
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub
        - arn:${AWS::Partition}:execute-api:${AWS::Region}:${AWS::AccountId}:${HttpApiId}/*/POST${PaypalWebhookPath}
        - HttpApiId:
            Fn::ImportValue: food-delivery-http-api-id

Outputs:
  EventBusName:
    Value: !Ref OrderEventsBus
  EventBusArn:
    Value: !GetAtt OrderEventsBus.Arn
  PaymentStateMachineName:
    Value: !Ref PaymentStateMachineName
  PaymentStateMachineArn:
    Value: !Ref PaymentStateMachine
  StepFunctionsRoleName:
    Value: !Ref StepFunctionsRoleName
  LambdaRoleName:
    Value: !Ref LambdaRoleName
  PaypalWebhookPath:
    Value: !Ref PaypalWebhookPath
  PaypalWebhookUrl:
    Condition: CreatePaypalWebhookRoute
    Value: !Sub
      - ${HttpApiEndpoint}${PaypalWebhookPath}
      - HttpApiEndpoint:
          Fn::ImportValue: food-delivery-http-api-endpoint
